# Ignorer les objets et les archives
*.[oa]i
_vendor/**/*
pkg/**/*
LogsSys.txt
Logsfile.txt
Logsfile.*
*.txt
restart/
# Data base local config
# Vim extensions
*.swp
*.swo
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
# C extensions
 *.so

# EMACS 

# -*- mode: gitignore; -*-
*~
\*\
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

#postgres conf
restart/
# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

#exc
master_wibo
